$md-lynxblue: (
    50 : #e4e4ea,
    100 : #bcbbca,
    200 : #8f8ea6,
    300 : #626182,
    400 : #403f68,
    500 : #1e1d4d,
    600 : #1a1a46,
    700 : #16153d,
    800 : #121134,
    900 : #0a0a25,
    A100 : #6363ff,
    A200 : #3030ff,
    A400 : #0000fc,
    A700 : #0000e2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


$md-lynxaccentblue: (
    50 : #e4f2fe,
    100 : #bce0fb,
    200 : #90cbf9,
    300 : #64b6f7,
    400 : #42a6f5,
    500 : #2196f3,
    600 : #1d8ef1,
    700 : #1883ef,
    800 : #1479ed,
    900 : #0b68ea,
    A100 : #ffffff,
    A200 : #e1ecff,
    A400 : #aeccff,
    A700 : #95bcff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-lynxblue-green: (
    50 : #e4fcf6,
    100 : #bbf8e9,
    200 : #8ef4db,
    300 : #61f0cc,
    400 : #3fecc1,
    500 : #1de9b6,
    600 : #1ae6af,
    700 : #15e3a6,
    800 : #11df9e,
    900 : #0ad98e,
    A100 : #ffffff,
    A200 : #d0ffec,
    A400 : #9dffd8,
    A700 : #84ffce,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

