@font-face {
    font-family: 'AVN';
    src: url('./fonts/avenir/avenir-next-regular.ttf') format('truetype'),
  }

  @font-face {
    font-family: 'AVN_M';
    src: url('./fonts/avenir/avenir-next-medium.ttf') format('truetype'),
  }
  @font-face {
    font-family: 'AVN_DB';
    src: url('./fonts/avenir/avenir-next-demi-bold.ttf') format('truetype'),
  }

  @font-face {
    font-family: 'AVN_L';
    src: url('./fonts/avenir/avenir-next-light.ttf') format('truetype'),
  }
 
  @font-face {
    font-family: 'AVN_B';
    src: url('./fonts/avenir/avenir-next-bold.ttf') format('truetype'),
  }